/* .links_name:after{
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.links_name:hover::after{
    width: 100%;
    background: #3D52A0;
} */